body{
  background-color: #2c2c2c;
}


@font-face{
  font-family: matrixFont;
  src: url(./matrix.ttf);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: #6f6f6f;
    border-radius: 20px;
    border: 4px solid rgb(218, 218, 218);
    box-shadow: 1px 2px 12px 1px #a5a4a4;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #60c3ed;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    background: #43e5f7;
    box-shadow: -130px 0 0 150px #43e5f7;
    border-radius: 50%;
  }

}
.firstCircle{
  width: 100px;
}
.secondCircle{
  width: 80px;
  margin-left: 10px;
}
.thirdCircle{
  width: 130px;
}
.circleContainer{
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 12px 1px #a5a4a4;
}
.ButtonGroups{
  width: 200px;
  height: 200px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 12px 1px #a5a4a4;
}

.sosBtn{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #3d3d3d;
  box-shadow: 0 2px 20px 10px rgba(67, 229, 247);
  animation: 3s SOS;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.btntext{
  position: fixed;
  font-family: matrixFont;
  color: #ECECEC;
  font-size: 50px;
  z-index: 1;
}

@keyframes SOS{
  from{
    transform:  rotate(0deg);
  }
  to{
    transform:  rotate(360deg);
  }
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p{
  margin: 0;
}
.InputCon{
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-bottom: 10px;
}
.albumImg{
  width: 150px;
  height: 150px;
  border: 5px solid rgb(223 219 219);
  margin: 5px;
  cursor: pointer;
}
.row-class{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.col-class{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pageImg1{
  margin: 10px;
  cursor: pointer;
}
.pageImg2{
  cursor: pointer;
  transform: rotate(180deg);
}
.vedio{
  width: 80px;
  margin: 10px;
  background-color: rgb(97, 145, 187);
}
.blob{
  z-index: 0;
  position: absolute;
  height: 60%;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blob:nth-child(2){
  filter: blur(50px);
}
.blobs{
  margin: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blob-title{
  z-index: 2;
  color: whitesmoke;
  font-size: 2rem;
}
.ipadView{
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
}
.compass{
  width: 200px;
  height: 200px;
  background-color: aliceblue;
  border-radius: 20px;
  margin: 10px;
}


.controller{
  width: 680px;
  height: 470px;
  background-color: #fff;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 12px 1px #a5a4a4;
}
.slider{
  min-width: 250px;
  height: 35px;
  transform: rotate(-90deg);
}
.slider1{
  position: relative;
  left: 350px;
}
.slider2{
  position: relative;
  left: 210px;
}
.slider3{
  position: relative;
  left: 70px;
}
.slider4{
  position: relative;
  left: -70px;
}
.slider5{
  position: relative;
  left: -210px;
}
.slider6{
  position: relative;
  left: -350px;
}
.radar-box-area{
  margin: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 12px 1px #a5a4a4;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radar-box{
  width: 180px;
  height: 180px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-image: radial-gradient(circle,
  #1f7079 5%, #41e5f7 , #1f7079 6%,#1f7079 10%, #41e5f7 ,#1f7079 11%,
  #1f7079 15%, #41e5f7 , #1f7079 16%,#1f7079 20%, #41e5f7 ,#1f7079 21%,
  #1f7079 25%, #41e5f7 , #1f7079 26%,#1f7079 30%, #41e5f7 ,#1f7079 31%,
  #1f7079 35%, #41e5f7 , #1f7079 36%,#1f7079 40%, #41e5f7 ,#1f7079 41%,
  #1f7079 45%, #41e5f7 , #1f7079 46%,#1f7079 50%, #41e5f7 ,#1f7079 51%,
  #1f7079 55%, #41e5f7 , #1f7079 56%,#1f7079 60%, #41e5f7 ,#1f7079 61%,
  #1f7079 65%, #41e5f7 , #1f7079 66%,#1f7079 70%, #41e5f7 ,#1f7079 71%,
  #1f7079 75%, #41e5f7 , #1f7079 76%,#1f7079 80%, #41e5f7 ,#1f7079 81%
  );
}
.radar{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 40%;
  transform: translateY(-100%);
  border-bottom: #41e5f7 solid 2px;
  background: linear-gradient(325deg,#41e5f7,transparent,transparent);
  animation: 5s radarAnim;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: left bottom;
  z-index: 1;
}
@keyframes radarAnim{
  from{
    transform: translateY(-100%) rotate(0deg);
  }
  to{
    transform: translateY(-100%) rotate(360deg);
  }
}
.gps_signal{
  position: absolute;
  left: 25%;
  top: 25%;
  width: 10px;
  height: 7px;
  border-radius: 5px;
  background-color: #41e5f7;
  transform: rotate(45deg);
  animation: 10s gps_signal;
  visibility: hidden;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes gps_signal{
  0%{
    visibility: hidden;
  }
  5%{
    visibility: hidden;
  }  100%{
    visibility: visible;
  }
}
.gps_signal::after,.gps_signal::before{
  position: absolute;
  content: "";
  width: 5px;
  height: 7px;
  border: 2px solid #41e5f7;
  left: 50%;
  margin-left: -5px;
  background: #1f7079;
}
.gps_signal::after{
  bottom: 100%;
}
.gps_signal::before{
  top: 100%;
}
.gps_signal:nth-child(2){
  left: 50%;
  top: 25%;
  animation-timing-function: steps(2);
}.gps_signal:nth-child(3){
  left: 70%;
  top: 35%;
  animation-timing-function: steps(4);
}.gps_signal:nth-child(4){
  left: 20%;
  top: 60%;
  animation-timing-function: steps(6);
}
@media (min-width: 300px){
  .albumImg{
    width: 80px;
    height: 80px;
  }
  h3{
    font-size: 0.8em;
  }
}

/*compass*/
.compass {
	width: 200px;
	height: 200px;
  box-shadow: 5px 5px 12px 1px #a5a4a4;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

.compass-inner {
	width: 200px;
	height: 200px;
	background-color: #fff;
	border-radius: 100%;
	position: relative;
}

.main-arrow {
	width: 30px;
	left: 80px;
  top: 50px;
	position: relative;
	box-sizing:border-box;
  transform: rotate(20deg);
	animation: spin 2.0s alternate infinite;
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-o-animation: spin 2.0s alternate infinite;
	-moz-transform: rotate(20deg);
	-moz-animation: spin 2.0s alternate infinite;
	-webkit-transform: rotate(20deg);
	-webkit-animation: spin 2.0s alternate infinite;
	
}

.arrow-up {
	width: 0; 
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 50px solid rgb(67 229 247);
	position: relative;
}

.arrow-down {
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
	width: 0; 
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 50px solid #5d5d5d;
	position: relative;
}

.north {
	font-size: 36px;
	font-family: matrixFont;
	color: rgb(67 229 247);
	position: absolute;
	left: 82px;
}

.east {
	font-size: 36px;
	font-family: matrixFont;
	color: rgb(67 229 247);
	position: absolute;
  top: 80px;
  right: 10px;
}

.west {
	font-size: 36px;
	font-family: matrixFont;
	color: rgb(67 229 247);
	position: absolute;
  top: 80px;
  left: 10px;
}

.south {
	font-size: 36px;
	font-family: matrixFont;
	color: rgb(67 229 247);
	position: absolute;
  left: 82px;
  top: 140px;
}

@keyframes spin {
    0%{
        transform:scale(1) rotate(0deg);
    }
	50% {
		transform:scale(1) rotate(80deg);
	}
	100% {
		transform:scale(1) rotate(-180deg);
	}
}

@-o-keyframes spin {
    0%{
        -webkit-transform:scale(1) rotate(0deg);
    }
	50% {
		-webkit-transform:scale(1) rotate(80deg);
	}
	100% {
		-webkit-transform:scale(1) rotate(-180deg);
	}
}

@-moz-keyframes spin {
    0%{
        -webkit-transform:scale(1) rotate(0deg);
    }
	50% {
		-webkit-transform:scale(1) rotate(80deg);
	}
	100% {
		-webkit-transform:scale(1) rotate(-180deg);
	}
}

@-webkit-keyframes spin {
    0%{
        -webkit-transform:scale(1) rotate(0deg);
    }
	50% {
		-webkit-transform:scale(1) rotate(80deg);
	}
	100% {
		-webkit-transform:scale(1) rotate(-180deg);
	}
}

@media (max-width: 600px) {
  .compass {
    width: 200px;
	height: 200px;
	text-align: center;
  }
  
  .compass-inner {
	  width: 170px;
	  height: 170px;
	  left: 13px;
	  top: 13px;
  }
  
  .main-arrow {
	width: 30px;
	left: 78px;
	width: 15px;
	padding-top: 3px;
  }
  
  .arrow-up {
	border-bottom: 82.5px solid #EF5052;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
  }
  
   .arrow-down {
	border-bottom: 82.5px solid #F3F3F3;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
  }
  
  .north {
	  left: 78px;
	  top: 10px;
	  font-size: 16px;
  }
  
  .south {
	  font-size: 16px;
	  left: 78px;
	  top: 140px;
  }
  
  .east {
	  font-size: 16px;
	  top: 72.5px;
	  left: 145px;
  }
  
  .west {
	  font-size: 16px;
	  left: 10px;
	  top: 72.5px;
  }
}


@media (max-width: 600px) {
  .compass {
    width: 200px;
	height: 200px;
	text-align: center;
  }
  
  .compass-inner {
	  width: 170px;
	  height: 170px;
	  left: 13px;
	  top: 13px;
  }
  
  .main-arrow {
	width: 30px;
	left: 78px;
	width: 15px;
	padding-top: 3px;
  }
  
  .arrow-up {
	border-bottom: 82.5px solid #EF5052;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
  }
  
   .arrow-down {
	border-bottom: 82.5px solid #F3F3F3;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
  }
  
  .north {
	  left: 78px;
	  top: 10px;
	  font-size: 16px;
  }
  
  .south {
	  font-size: 16px;
	  left: 78px;
	  top: 140px;
  }
  
  .east {
	  font-size: 16px;
	  top: 72.5px;
	  left: 145px;
  }
  
  .west {
	  font-size: 16px;
	  left: 10px;
	  top: 72.5px;
  }
}

@media (max-width: 600px) {
  .compass {
    width: 200px;
	height: 200px;
	text-align: center;
  }
  
  .compass-inner {
	  width: 170px;
	  height: 170px;
	  left: 13px;
	  top: 13px;
  }
  
  .main-arrow {
	width: 30px;
	left: 78px;
	width: 15px;
	padding-top: 3px;
  }
  
  .arrow-up {
	border-bottom: 82.5px solid #EF5052;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
  }
  
   .arrow-down {
	border-bottom: 82.5px solid #F3F3F3;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
  }
  
  .north {
	  left: 78px;
	  top: 10px;
	  font-size: 16px;
  }
  
  .south {
	  font-size: 16px;
	  left: 78px;
	  top: 140px;
  }
  
  .east {
	  font-size: 16px;
	  top: 72.5px;
	  left: 145px;
  }
  
  .west {
	  font-size: 16px;
	  left: 10px;
	  top: 72.5px;
  }
}

@media (max-width: 600px) {
  .compass {
    width: 200px;
	height: 200px;
	text-align: center;
  }
  
  .compass-inner {
	  width: 170px;
	  height: 170px;
	  left: 13px;
	  top: 13px;
  }
  
  .main-arrow {
	width: 30px;
	left: 78px;
	width: 15px;
	padding-top: 3px;
  }
  
  .arrow-up {
	border-bottom: 82.5px solid #EF5052;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
  }
  
   .arrow-down {
	border-bottom: 82.5px solid #F3F3F3;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
  }
  
  .north {
	  left: 78px;
	  top: 10px;
	  font-size: 16px;
  }
  
  .south {
	  font-size: 16px;
	  left: 78px;
	  top: 140px;
  }
  
  .east {
	  font-size: 16px;
	  top: 72.5px;
	  left: 145px;
  }
  
  .west {
	  font-size: 16px;
	  left: 10px;
	  top: 72.5px;
  }
}